<div class="container-fluid pt-5 pb-3" id="certificat">
    <div class="container">
      <div
        class="position-relative d-flex align-items-center justify-content-center"
      >
        <h1
          class="display-1 text-uppercase text-white"
          style="-webkit-text-stroke: 1px #dee2e6"
        >
          Gallery
        </h1>
        <h1 class="position-absolute text-uppercase text-primary">
          My Certificat
        </h1>
      </div>
      <div class="row">
        <div class="col-12 text-center mb-2">
          <ul class="list-inline mb-4" id="portfolio-flters">
            <li
              class="btn btn-sm btn-outline-primary m-1 active"
              data-filter="*"
            >
              All
            </li>
            {% for category in certificate_category %}
            <li
              class="btn btn-sm btn-outline-primary m-1"
              data-filter=".{{ category.category_name|slugify }}"
            >
              {{ category.category_name }}
            </li>
            {% endfor%}
          </ul>
        </div>
      </div>
      <div class="row portfolio-container">
        {% for certificate in certificate %}
        <div class="col-lg-4 col-md-6 mb-4 portfolio-item {{ certificate.category.category_name|slugify}}">
          <div class="position-relative overflow-hidden mb-2">
            <img
              class="img-fluid rounded w-100"
              src="{{ certificate.image.url }}"
              alt=""
            />
            <div
              class="portfolio-btn bg-primary d-flex align-items-center justify-content-center"
            >
              <a href="{{certificate.image.url}}" data-lightbox="portfolio">
                <i class="fa fa-plus text-white" style="font-size: 60px"></i>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>