<div class="container-fluid bg-primary text-white mt-1 py-1 px-sm-3 px-md-5">
  <div class="container text-center py-5">
    <div class="d-flex justify-content-center mb-4">
      {% for link in link %}
      <a class="btn btn-light btn-social mr-2" href="{{link.link_url}}"
        ><i class="fab {{ link.icon}}"></i
      ></a>
      {% endfor %}
    </div>

    <p class="m-0">
      &copy;
      <a class="text-white font-weight-bold" href="#">YOUIZANE</a>. All Rights
      Reserved. Developed By
      <a class="text-white font-weight-bold" href="https://YOUIZANE.com"
        >{{ about.name | upper }}</a
      >
    </p>
  </div>
</div>
